# Dependencias
/node_modules

# Entornos
.env
/tests/.env.test

# Logs y temporales
/logs
/temp/my.cnf
/temp
/temp/*
*.log

# Cobertura de tests
/tests/coverage
/coverage
/tests/jest-results.json

# Archivos generados por herramientas de análisis
.scannerwork
/scannerwork
/.scannerwork
/sonar-project.properties
sonar-project.properties
*.lcov

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de configuración locales
npm-debug.log*
